<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Youtube</title>
  </head>
  <style>
  .content {
    max-width: 900px;
    margin: auto;
  }
  </style>

  <body class="content">
    <br>
    <form action="{{url_for("homepage")}}" method="post">
      <label for="url">URL:</label>
      <input type="text" id="url" name="url" size="100"/>
      <button type="submit">Submit</button>
    </form>
    {% if youtube_id %}
      <h2>
          YouTube video link:
          <a href="https://www.youtube.com/watch?v={{youtube_id}}">{{youtube_id}}</a>
      </h2>
      <iframe src="https://www.youtube.com/embed/{{youtube_id}}" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if playlist_id %}
      <h2>
          YouTube playlist link:
          <a href="https://www.youtube.com/playlist?list={{playlist_id}}">{{playlist_id}}</a>
      </h2>
      <iframe src="https://www.youtube.com/embed/videoseries?list={{playlist_id}}" width="850" height="480" frameborder="0" allowfullscreen></iframe>
    {% endif %}
  </body>

</html>
